<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandatom.example.mapper.PermissionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pandatom.example.entity.Permissions">
        <id column="permission_id" property="permissionId" />
        <result column="permission_code" property="permissionCode" />
        <result column="permission_name" property="permissionName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        permission_id AS permissionId, permission_code AS permissionCode, permission_name AS permissionName
    </sql>

    <select id="queryPermissionsByUsername" resultSets="java.util.Set" resultType="string">
        select tb_permissions.permission_code from tb_users
                                                       inner join tb_urs on tb_users.user_id=tb_urs.uid
                                                       inner join tb_roles on tb_urs.rid=tb_roles.role_id
                                                       inner join tb_rps on tb_roles.role_id=tb_rps.rid
                                                       inner join tb_permissions on tb_rps.pid=tb_permissions.permission_id
        where tb_users.username=#{username}
    </select>

</mapper>
